
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="support-section1">
    <div class="container-fluid banner">
        <img src="~/Images/Support Image/Supportpic.jpg" class="" alt="Banner">
        <h1 style='color:white' id='welcome-txt'>Welcome to Z-TECH Support.</h1>
    </div>
</section>
<div class="container SupportParent mt-5">
    <center><h1 class="mb-5">Online Help</h1></center>
    <div class="container-fluid row p-0 justify-content-center">
        <div class="col-md-2 SupportBox">
            <i style="font-size: 60px; margin-top: 60px; margin-bottom: 60px; color:rgb(107, 107, 107)" class="far fa-address-book"></i>
            <p>User Guide</p>
        </div>
        <div class="col-md-2 SupportBox">
            <i class="fas fa-map-marked-alt" style="font-size: 60px;  margin-top: 60px; margin-bottom: 60px; color:rgb(107, 107, 107)"></i>
            <p>Service Centres</p>
        </div>
        <div class="col-md-2 SupportBox">
            <i class="fas fa-concierge-bell" style="font-size: 60px;  margin-top: 60px; margin-bottom: 60px; color:rgb(107, 107, 107)"></i>
            <p>Our Services</p>
        </div>
        <div class="col-md-2 SupportBox">
            <i class="far fa-id-badge" style="font-size: 60px;  margin-top: 60px; margin-bottom: 60px; color:rgb(107, 107, 107)"></i>
            <p>License Agreement</p>
        </div>
    </div>
</div>
<div class="container-fluid ContactParent pb-5">
    <!--Section: Contact v.2-->
    <section class="mb-4 mx-5">

        <!--Section heading-->
        <h1 class="text-center my-4 pt-5">Contact us</h1>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">
            Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
            a matter of hours to help you.
        </p>

        <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="~/Home/ContactUs" method="POST">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-4">
                                <input type="text" id="name" name="name" class="form-control" placeholder="Your name">
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-4">
                                <input type="text" id="email" name="email" class="form-control" placeholder="Your email">
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-4">
                                <input type="text" id="subject" name="subject" class="form-control" placeholder="subject">
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form mb-4">
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Your message..."></textarea>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="text-md-left">
                        <button type="submit" class="btn btn-primary mt-3" onclick="alert('Your question has been successfully reached to us.');">Send</button>
                    </div>
                </form>


                <div class="status"></div>
            </div>
            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li>
                        <i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Karachi, Pakistan</p>
                    </li>

                    <li>
                        <i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 0312 12312312</p>
                    </li>

                    <li>
                        <i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>e-startup@gmail.com</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>

    </section>
    <!--Section: Contact v.2-->
    @*<center><h1 class="mb-5 pt-5">Contact Us</h1></center>

        <div class="container-fluid row justify-content-center">
            <div class="col-md-5 ContactBox">
                <i class="fas fa-mobile-alt" style="font-size: 60px;  margin-top: 100px; margin-bottom: 60px; color:rgb(107, 107, 107)"></i>
                <p>0306-1056438</p>
            </div>
            <div class="col-md-5 ContactBox">
                <i class="fas fa-envelope-open-text" style="font-size: 60px;  margin-top: 100px; margin-bottom: 60px; color:rgb(107, 107, 107)"></i>
                <p>zain.great321@gmail.com</p>
            </div>
        </div>*@
</div>


