
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="support-section1">
    <div class="container-fluid banner">
        <img src="~/Images/Support Image/Supportpic.jpg" class="" alt="Banner">
        <h1 style='color:white' id='welcome-txt'>Welcome to Z-TECH Support.</h1>
    </div>
</section>
<div class="container SupportParent mt-5">
    <center><h1 class="mb-5">Online Help</h1></center>
    <div class="container-fluid row p-0 justify-content-center">
        <div class="col-md-2 SupportBox">
            <i style="font-size: 60px; margin-top: 60px; margin-bottom: 60px; color:rgb(107, 107, 107)" class="far fa-address-book"></i>
            <p>User Guide</p>
        </div>
        <div class="col-md-2 SupportBox">
            <i class="fas fa-map-marked-alt" style="font-size: 60px;  margin-top: 60px; margin-bottom: 60px; color:rgb(107, 107, 107)"></i>
            <p>Service Centres</p>
        </div>
        <div class="col-md-2 SupportBox">
            <i class="fas fa-concierge-bell" style="font-size: 60px;  margin-top: 60px; margin-bottom: 60px; color:rgb(107, 107, 107)"></i>
            <p>Our Services</p>
        </div>
        <div class="col-md-2 SupportBox">
            <i class="far fa-id-badge" style="font-size: 60px;  margin-top: 60px; margin-bottom: 60px; color:rgb(107, 107, 107)"></i>
            <p>License Agreement</p>
        </div>
    </div>
</div>
<div class="container-fluid ContactParent pb-5">
    <center><h1 class="mb-5 pt-5">Contact Us</h1></center>
    <div class="container-fluid row justify-content-center">
        <div class="col-md-5 ContactBox">
            <i class="fas fa-mobile-alt" style="font-size: 60px;  margin-top: 100px; margin-bottom: 60px; color:rgb(107, 107, 107)"></i>
            <p>0306-1056438</p>
        </div>
        <div class="col-md-5 ContactBox">
            <i class="fas fa-envelope-open-text" style="font-size: 60px;  margin-top: 100px; margin-bottom: 60px; color:rgb(107, 107, 107)"></i>
            <p>zain.great321@gmail.com</p>
        </div>
    </div>
</div>


